.structureTable {
    font-size: var(--mantine-font-size-sm);
}

.tableContainer {
    max-height: calc(100vh - 200px);
}

.rowEditing {
    outline: 2px dashed var(--mantine-primary-color-filled);
    outline-offset: -2px;
}
