.resultsTable {
    font-family: var(--mantine-font-family-monospace);
    font-size: var(--mantine-font-size-sm);
}

.resultsTableExecuting {
    opacity: 0.6;
    pointer-events: none;
}

.cellClickable {
    cursor: pointer;
}

.tableContainer {
    height: 100%;
}
