.resultsTable {
    font-family: var(--mantine-font-family-monospace);
    font-size: var(--mantine-font-size-sm);
}

.resultsTableExecuting {
    opacity: 0.6;
    pointer-events: none;
}

.cellClickable {
    cursor: pointer;
}

.cellFocused {
    outline: 2px dashed var(--mantine-primary-color-filled);
    outline-offset: -2px;
}

.tableContainer {
    height: 100%;
}
