.footer {
    border-top: 1px solid var(--mantine-color-default-border);
    background-color: var(--mantine-color-body);
    transition-property: height, opacity, border;
    transition-duration: var(--app-shell-transition-duration);
    transition-timing-function: var(--app-shell-transition-timing-function);
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.footerHidden {
    height: 0;
    border-top: none;
    opacity: 0;
}

.footerVisible {
    height: 300px;
    opacity: 1;
}

.controls {
    min-height: 60px;
    display: flex;
    align-items: center;
}

.segmentLabel {
    display: flex;
    align-items: center;
    gap: 8px;
}
